ul:not([class]){
    margin : 0 0 1rem $list_indent;
    padding : 0;
    &.menu{
      margin : 0;
    }
    li{
      list-style : none;
      @include bullet-list;
      line-height : 1.5;
      margin-bottom : 0.5rem;
    }
    ul{
      margin-top : 0.5rem;
      margin-bottom : 0.5rem;
      li{
        &::before             { content : "\f054"; }
      }
    }
  }